<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Typescript Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div id="create">
        <h1 class="header">trying typescript</h1>
        <p>add to begin</p>
        <input id="task" placeholder="{ companies { company_id name description } }" type="text"></input>
        <button id="query-button">send query</button>
        <!-- <button id="clear cache">Get Tasks</button> -->
      </div>
      <ul id="task-list"></ul>
    </body>
    <script src="main.js"></script>
</html>