.catForm {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  height: 25vh;
  width: 80vw;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
  flex-direction: column;
}
.catFormContent {
  flex-direction: row;
  align-items: right;
  text-align: right;
  justify-content: space-evenly;
  padding-right: 100px;
}

.c-input {
  margin: 10px;
  font-family: Libre Baskerville;
  font-size: 16px;
  border: 0ch;
  background-color: #e0e0e0;
  padding: 0.5%;
  color: #575757;
}
// label {
//   font-size: 16px;
// }
.c-options {
  margin: 10px;
  font-family: Libre Baskerville;
  font-size: 18px;
  border: 0ch;
  background-color: #e0e0e0;
  color: #51463a;
  color: rgb(90, 90, 90);
  padding: 0.5%;
}
