/* row 1 */

.columnCenterContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 85%;
  border-radius: 5%;
  padding: 2%;
  box-shadow: -6px -2px 30px rgba(255, 255, 255, 0.15),
    -6px -2px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
}
/* rowContainer  */

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.entry {
  margin: 1%;
  padding: 0.5%;
  height: 350px;
  width: 20%;

  z-index: 1;
  border-radius: 10%;
  background: rgba(249, 249, 249, 0.075);
  box-shadow: -6px -2px 30px rgba(255, 255, 255, 0.15),
    -6px -2px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
  font-size: 12px;
}

.entry1 {
  margin: 1%;
  padding: 0.5%;
  height: 100px;
  width: 50%;
  font-size: 20px;
  z-index: 1;
  border-radius: 10%;
  background: rgba(249, 249, 249, 0.075);
  box-shadow: -6px -2px 30px rgba(255, 255, 255, 0.15),
    -6px -2px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
  font-size: 12px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
