@import "_variables";
@import "_about";
@import "_categoryForm";
body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* height: 120vh;
    width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(46, 134, 105);

  /* justify-content: center; */
  /* color: #51463a; */
}
.transition {
  transform: scale(0.2);
}
nav {
  margin-top: 10px;
  margin: auto;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  z-index: 3;
}

.navLink {
  margin-top: 30px;
  margin: 2px;
  padding: 5px;
  color: #51463a;
  font-weight: 400;
  font-size: 20px;
  z-index: 4;
}
.homeLogo {
  height: 300px;
}

.homePg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

a {
  color: #51463a;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

hr {
  size: 40px;
  width: 150px;
  color: rgb(32, 32, 32);
}

.submitButton {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Libre Baskerville;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
}
.dropShadow {
  padding-top: 0.3%;
  height: 5vh;
  width: 80vw;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
  color: rgb(46, 134, 105);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  height: 50vh;
  width: 30vw;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
  flex-direction: column;
}
.formContent {
  flex-direction: row;
  align-items: right;
  text-align: right;
  justify-content: space-evenly;
  padding-right: 100px;
}

.input {
  margin: 10px;
  // font-family: Jost;
  font-size: 18px;
  border: 0ch;
  background-color: #e8f0fe;
  color: #51463a;
  color: rgb(129, 202, 178);
}
label {
  font-size: 18px;
}
/* themePanel */
.darkmode {
  height: 20px;
  width: 20px;
  background: rgb(78, 71, 71);
  border-radius: 50%;
  margin: 2px;
}

.darkmode:hover {
  transform: scale(1.3);
  box-shadow: 2px 2px 12px 2px rgba(141, 141, 141, 0.8);
}

.summer {
  height: 20px;
  width: 20px;
  background: rgb(32, 221, 142);
  border-radius: 50%;
  margin: 2px;
}
.summer:hover {
  transform: scale(1.3);
  box-shadow: 2px 2px 12px 2px rgba(141, 141, 141, 0.8);
}
/* --------------column 2 widgets & news (2 rows)------------------- */
.walletContainer {
  min-width: 100vw;
  max-width: 1366px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* row 1 */
.columnCenterContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  // width: 80%;
}
/* rowContainer  */

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category {
  padding: 0.5%;
  height: 250px;
  width: 320px;
  z-index: 1;
  border-radius: 10%;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
}
.catContent {
  h3 {
    padding-left: 20px;
  }
  padding: 1%;
  text-align: left;
}

/* row 2 */

.allCatContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  /* justify-content: space-evenly; */
  width: 100vw;
  max-width: 1033px;
  height: 70vh;
  overflow: scroll;
  float: center;
}
.userCatContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  /* justify-content: space-evenly; */
  width: 100vw;
  max-width: 1033px;
  height: 60vh;
  overflow: scroll;
  float: center;
}

/* searchBar  */

/* news */

.categorySVG {
  height: 140px;
  width: 210px;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: bottom;
}
/* -----------------------column 3 media badges-------------------------- */

button {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Libre Baskerville;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin-bottom: 10px;
}
.widgetIcons {
  width: 6vh;
  height: 6vh;
  padding: 10px;
}
.widgetMIcons {
  height: 5vh;
  padding: 10px;
}

/* iconMediaPanel */

/*--------------------Wellness Page------------------ */

.loader {
  height: 30vmin;
  pointer-events: none;
  z-index: 1;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 8s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  z-index: 2;
  position: relative;
}
