@import '_variables';
@import '_main';
@import '_about';
@import '_nav';
@import '_speedometer';
@import '_tree';
@import '_arrow';
@import '_team';
@import '_window';
//@import "p21X0v" from './p21X0v.tif'
body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: $mainBlue;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  // background: url(../assets/freq_bg.svg) bottom center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //overflow: auto;
}

.metric-logo {
  margin: 2%;
  height: 75px;
}
.startdiv {
  margin: 5%;
  height: 35vh;
  pointer-events: none;
}
.start {
  margin: 5%;
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 9s linear;
  }
}

.App-header {
  background-color: rgba(249, 249, 249);
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb61e1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  .navLogo {
    height: 50px;
    margin: 5%;
    display: flex;
    flex-direction: column;
  }
  h2 {
    color: rgba(59, 67, 140);
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
}
.loginBtm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gitLogo {
  padding: 5px;
  height: 40px;
  width: 20%;
  margin: 1%;
  display: flex;
}
.header-col {
  display: flex;
  flex-direction: column;
}

// h3 {
//   font-weight: 500;
// }

// hr {
//   size: 40px;
//   width: 150px;
//   color: rgb(32, 32, 32);
// }

.submitButton {
  background: white;
  border-radius: 8px 8px 8px 8px;
  border-width: 0ch;
  border-color: rgb(180, 180, 180);
  font-family: Libre Baskerville;
  font-size: 20px;
  color: rgb(92, 92, 92);
  margin: 2%;

  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
}
.submitButton:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
}
.dropShadow {
  padding-top: 0.3%;
  height: 5vh;
  width: 80vw;
  box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
  color: rgb(46, 134, 105);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  height: 50vh;
  width: 30vw;
  background: rgba(249, 249, 249, 0.075);
  box-shadow: -6px -2px 30px rgba(255, 255, 255, 0.15),
    -6px -2px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  flex-direction: column;
}
.formContent {
  flex-direction: row;
  align-items: right;
  text-align: right;
  justify-content: space-evenly;
  padding-right: 100px;
}

.input {
  margin: 10px;
  // font-family: Jost;
  font-size: 18px;
  border: 0ch;
  background-color: #e8f0fe;
  color: $lightBlue;
}

label {
  font-size: 18px;
}
